.login-page {}

mat-form-field {
  width: 100% !important;
  font-family: 'Lato', sans-serif !important;
}

button {
  font-family: 'Lato', sans-serif !important;
  width: 100%;
  padding: 15px;
}

.login-box {
  background: #FFFFFF;
  border-radius: 10px;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-flex;
  vertical-align: middle;
}
