mat-form-field {
  width: 100%;
  font-family: 'Lato', sans-serif !important;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-flex;
  vertical-align: middle;
}

button {
  font-family: 'Lato', sans-serif !important;
}
